In [49]:
import pandas as pd
import matplotlib as plt
import math

In [3]:
# Import data

data2 = pd.read_excel('4-Data_hotel_Reviews.xlsx')

In [4]:
data2.head()

,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,194,2017-03-08 00:00:00,7.7,Hotel Arena,Russia,397,1403,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,194,2017-03-08 00:00:00,7.7,Hotel Arena,Ireland,0,1403,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,194,7/31/2017,7.7,Hotel Arena,Australia,42,1403,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,194,7/31/2017,7.7,Hotel Arena,United Kingdom,210,1403,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,194,7/24/2017,7.7,Hotel Arena,New Zealand,140,1403,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [6]:
data2['Reviewer_Nationality'] = data2['Reviewer_Nationality'].str.strip()

UK = ['United Kingdom']
EU = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Republic of Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
     'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
    'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']

In [20]:
eu_data = data2[data2['Reviewer_Nationality'].isin(EU)]
uk_data = data2[data2['Reviewer_Nationality'].isin(UK)]

In [43]:
x1bar = uk_data.sample(n=100, random_state=42)['Reviewer_Score'].mean()
print(x1bar)
x2bar = eu_data.sample(n=100, random_state=42)['Reviewer_Score'].mean()
print(x2bar)

8.528000000000004
8.245999999999999

In [44]:
# sample size가 작은 경우에는 t-test를 사용하여 DF에 맞는 기각역을 결정해야 하지만 sample size가 large enough하기 때문에 population sd를 sample sd로 대체하여 사용 할 수 있다. 
x1std = uk_data.sample(n=100, random_state=42)['Reviewer_Score'].std()
x2std = eu_data.sample(n=100, random_state=42)['Reviewer_Score'].std()
print(x1std)
print(x2std)

1.5121113742316759
1.557544039295015

In [50]:
# Standard Error(SE), Test Statistic(TS)
SE = math.sqrt((x1std ** 2/100)+(x2std ** 2/100))
TS = (x1bar-x2bar)/SE
print(TS)
# 기각역인 1.645를 넘지 못해서 귀무가설을 채택한다. EU와 UK의 평점은 다르지 않다.

1.2990531417197535